.site-content {
    margin-top: 1.5em;
    margin-bottom: 3em;
    padding: 0 1.5em;
}
article, aside, details, figcaption, figure, footer, header, main, menu, summary {
    display: block;
}
.hentry {
    margin: 0 0 3em;
}
.clear:before, .clear:after, .hentry:before, .hentry:after, .entry-content:before, .entry-content:after, .comment-content:before, .comment-content:after, .site-header:before, .site-header:after, .site-content:before, .site-content:after, .site-footer:before, .site-footer:after, .posts-navigation:before, .posts-navigation:after, .post-navigation:before, .post-navigation:after, .comment-navigation:before, .comment-navigation:after {
    content: "";
    display: table;
}
.entry-header {
    margin-bottom: 1.5em;
}
.entry-title {
    margin-bottom: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto",sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #666;
    text-rendering: optimizeLegibility;
    margin-top: .375em;
    margin-bottom: .75em;
    line-height: 1.4;
}
.hentry h1 a, .hentry h2 a, .hentry h3 a, .hentry h4 a, .hentry h5 a {
    color: #666;
}
a {
    color: #4480FF;
}
.page-content, .entry-content, .entry-summary {
    margin: 1.5em 0 0;
}
p {
    font-family: inherit;
    font-weight: 400;
    line-height: 1.7;
    margin-bottom: 1.5em;
    text-rendering: optimizeLegibility;
}
.entry-summary a {
    word-break: break-word;
}
.more-link {
    font-style: italic;
    display: inline-block;
}
.entry-footer {
    margin: .75em 0;
}
.entry-footer .left {
    background-color: #efefef;
    padding: .375em 1.5em;
    background-clip: padding-box;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.site-content{
    padding-left: 5%;
    padding-right: 8%;
    margin-left: 10%;
    margin-right: 7%;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.17);
}

@media only screen and (max-width: 680px){
    .site-content{
        margin-left: 3%;
        margin-right: 3%;
        padding: 0;
    }
}
@media only screen and (min-width: 900px){
    .site-content{
        padding-left: 10%;
        padding-right: 8%;
        margin-left: 10%;
        margin-right:12%;
    }
}
.fa-link:hover{
    color: #4480FF !important;
}