
html{
	background: #fff;
	color: #444;
	padding: 0;
	overflow-x:hidden;
	
}

body{
	-webkit-font-smoothing: antialiased;
	margin: 0;
	font-family: "Roboto",sans-serif;
	font-weight:300;
    font-size: 10px;
    line-height: 1.5;
	overflow-x:hidden;
}

.page-body{
	
}

body * {
    margin: 0;
    padding: 0;
}

.blogTitle{
	text-align: center;
}

.otherNavLinks{
	font-size: 14px;
	font-weight: 400;
}

#maia-header #portfolio-text {
	color: rgba(0,0,0,0.54);
	display: inline;
	font-family: Product Sans;
	
}

#maia-header h1 a{
	text-decoration: none;
	
}

#maia-header h1{
	font-size: 24px;
	
	
	
}



#maia-header{
	min-height: 33px;
	padding: 9px 15px 8px;
	box-shadow: 0 4px 6px rgba(0,0,0,0.18);
	
}

#maia-nav-x{
	box-shadow: 0 3px 5px rgba(0,0,0,0.17);
	font-family: 'Roboto', sans-serif;
}
#maia-nav-x .maia-aux {
    position: relative;
	
}

.maia-aux ul{
	padding-bottom: 0px !important;
}

#maia-nav-x .activepage{
	border-bottom: 4px solid rgb(35, 135, 243);
	font-weight: bold;
	font-size: 14px;

}


#maia-nav-x .maia-aux {
	position: relative;
}


#maia-nav-x li a {
    
    cursor: pointer;
    font-family: open-sans;
	text-decoration: none;
	transition: border-bottom 0.2s;
	transition-timing-function: ease-in-out;
}
#maia-nav-x li a:hover {
	border-bottom: 4px solid rgb(35, 135, 243);
}

/* @media (max-width: 900px){
#portfolio-banner {
    background-image: url("../images/homepage-header-trappist-4.jpg") !important;
    transform: scaleX(-1);
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.6);
}
} */

#portfolio-banner{
	/* background: linear-gradient(
            rgba(0, 0, 0, 0.40),
            rgba(0, 0, 0, 0.40)
    ),url("../images/homepage-header-earth.jpg");
	background-repeat: no-repeat;
    background-size: cover; */
    background-color: #FFFFFF;
	box-shadow: 0 2px 4px rgba(0,0,0,0.15);
	min-height: 500px;
	overflow:  hidden;
}
	
/* @media (max-width: 850px){
#portfolio-banner .maia-aux {
    transform: scaleX(-1);
}
}

@media (max-width: 850px){
#portfolio-banner .maia-aux {
    transform: scaleX(-1);
}
} */

.relative-position {
    position: relative;
}

.down-divider-border {
    border: 1px solid #999;
}
.down-divider {
    width: 48px;
    height: 48px;
    border-radius: 25px;
    text-align: center;
    margin: 0 auto;
    position: relative;
    top: -25px;
    transition: .2s;
	background: url(../images/GitHub-Mark-Light-32px.png) no-repeat center;
	transition-property: all;
	transition-duration: 150ms;
	transition-timing-function: ease-out;
	transition-delay: initial;
	box-shadow: 4px 4px 30px rgba(0,0,0,0.4);

}
.down-divider:hover{
	box-shadow: 6px 6px 30px rgba(0,0,0,0.65);
	background-color: rgb(10,10,10);
	opacity: 0.7;

}
.GitHubLogo{
    margin-top: 20px;
}
 
.homepage-banner-text {
    color: #fff;
}

.center-text {
    text-align: center;
}

.homepage-banner-text h1 {
    font: 100 28px/36px "Roboto", sans-serif;
    text-shadow: rgba(0, 0, 0, 0.85098) 0px 0px 10px;
    color: #fff;
    margin: 100px 0 80px 0;
    font-size: 30pt;
}

.homepage-banner-text h2 {
    text-shadow: rgba(0, 0, 0, 0.85098) 0px 0px 10px;
    font-size: 20pt;
    line-height: 1.25;
    font-weight: 100;
    color: #fff;
    margin-bottom: 60px;
}

.androids-left {
    position: absolute;
    bottom: -125px;
}

.androids-right {
    float: right;
    position: absolute;
    right: 0;
    bottom: -125px;
}

.page-row--split-blocks {
    padding-top: 40px;
}

@media only screen and (max-width: 680px){
.page-row--split-blocks {
    padding-bottom: 0;
}
}
.centeredText{
	text-align:center;
}
.content-subtitle {
    color: #414141;
    font-size: 22px;
    font-weight: 200;
    line-height: 1.4;
    margin-top: 8px;
    margin-bottom: 2.5%;
    padding: 0 24px;
    text-align: center !important;
}

.page-row--medium {
    padding-bottom: 40px;
}

@media only screen and (max-width: 680px){
.content-container {
    max-width: 480px;
    padding-left: 16px;
    padding-right: 16px;
}
}

.content-container {
    box-sizing: content-box;
    margin: 0 auto;
    max-width: 1224px;
    padding-left: 4%;
    padding-right: 4%;
}

@media only screen and (max-width: 680px){
.grid {
    margin-left: -12px;
    margin-top: -12px;
}
}

.grid {
    display: flex;
    flex-wrap: wrap;
    margin-left: -24px;
    margin-top: -24px;
}

.grid--equal>.grid__item {
    display: flex;
}

@media only screen and (max-width: 680px){
.grid .grid__item {
    padding-left: 12px;
    padding-top: 12px;
}
}

.grid__item {
    padding-left: 24px;
    padding-top: 24px;
}

.blog__item{
	width: 50%;
}
.grid__item {
    box-sizing: border-box;
	
}

.grid--equal .story-panel {
    flex: 1;
}

@media only screen and (max-width: 680px){
.story-panel--small {
    min-height: 210px;
}
}

.story-panel--small {
    min-height: 241px;
}
.story-panel {
	
    background-position: center;
    background-size: cover;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.15);
    color: #fff;
    display: flex;
    overflow: hidden;
    position: relative;
    transition-property: all;
	transition-duration: 200ms;
	transition-timing-function: ease-out;
	transition-delay: initial;
}

.story-panel:hover{
	box-shadow: 5px 8px 25px rgba(0,0,0,0.4);
	opacity: 0.94;
	
}
.story-panel--image.story-panel--small .story-panel__overlay {
    background-color: #3266D5;
    background-image: none;
}
.story-panel__overlay {
    background-image: linear-gradient(to bottom, transparent 0%, transparent 50%, rgba(0,0,0,0.2) 100%);
    bottom: 0;
    left: 0;
    padding: 20px;
    position: absolute;
    right: 0;
    top: 0;
}

@media only screen and (max-width: 680px){
.story-panel--small .story-panel__content {
    height: 140px;
}
}

.story-panel--small .story-panel__content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 170px;
    -ms-flex-pack: center;
    justify-content: center;
}
.story-panel__image{
	    background-image: url(../images/7135.jpg);
	
}

.story-panel--image .story-panel__image {
    display: none;
}

.story-panel__title {
    color: #fff;
	
}

@media only screen and (max-width: 680px){
.story-panel--small .story-panel__title {
    margin-top: 5px;
    max-width: 300px;
}
}

.story-panel--purple {
    background-color: #673ab7;
}

.blog_left_side{

	background-repeat: no-repeat;
	background-size: cover;
	flex-shrink: 0;
	min-height: 220px;
	width: 31%;
	box-shadow: 3px 3px 3px rgba(0,0,0,0.17);
}
#blog_left_side__image1{
	background-color: #673ab7;
	
}
#blog_left_side__image2{
	background-color: #E53935;
	
}
#blog_left_side__image3{
	background-color: #004D40;
	
}
#blog_left_side__image4{
	background-color: #4E342E;
	
}

@media only screen and (max-width: 700px){
.blog_left_side {
    background-position: center;
    width: 100%;
    display: none;
}
}

.blog_right_side{
	align-items:center;
	box-sizing:content-box;
	display: flex;
	line-height: 1.6;
	margin: 24px 0;
	margin: 0 auto;
	padding-left: 8%;
	padding-right: 0;
	
	
	
}
@media only screen and (max-width: 700px){
.blog_right_side {
    margin-bottom: 30px;
    margin-top: 40px;
    padding-left: 32px;
    padding-right: 32px;
    text-align: center;
}
}

@media only screen and (max-width: 700px){
.image-aside {
    display: block;
}
}

.image-aside {
   
    align-items: stretch;
    min-height: 220px;
}

@media only screen and (max-width: 700px){
.image-aside__title {
    font-size: 22px;
	letter-spacing: .46px;
    line-height: 30px;
}
}

.image-aside__title {
    color: #414141;
    font-family: "Roboto",Arial,Helvetica,sans-serif;
    font-size: 19px;
    font-weight: 300;
    letter-spacing: .23px;
    line-height: 1.36;
    margin-bottom: 12px;
}

@media only screen and (max-width: 680px){
.image-aside__text {
    margin-bottom: 24px;
}
}
.image-aside__text {
    color: #757575;
    margin-bottom: 35px;
}

.image-aside__link {
    text-transform: uppercase;
}

.content-footer {
	margin-top: 40px;
    padding-bottom: 0;
    padding-top: 3px;
}

.center {
    text-align: center;
}

body a {
    color: #4480FF;
    text-decoration: none;
    font-weight: 400;
	font-size: 14px;
}
@media only screen and (min-width: 1024px){
	
.related-content__link {
    font-size: 18px;
}
}
.related-content__link {
    align-self: flex-start;
    font-size: 16px;
    text-transform: uppercase;
    vertical-align: middle;
}

@media only screen and (min-width: 1024px){
	
.desk--one--quarter {
    width: 25%;
}
}




@media only screen and (max-width: 680px){
.content-header--homepage {
    max-width: 300px;
}
}

.content-header--homepage {
    margin: 28px auto 29px;
}

.content-header {
    color: #414141;
    position: relative;
    text-align: center;
}


@media only screen and (max-width: 680px){
.content-title {
    font-size: 27px;
	font-weight: 300;
    line-height: 1.35;
	padding: 0 24px;
}
}

.portfolio-title{
	font-size: 42px;
	font-weight: 300;
	
}

.content-title {
    color: #414141;
    font-weight: 300;
    font-size: 22px;
    margin-bottom: 0;
	
}

.android-section{
	text-align: left;
	padding-left: 23px;
}

.otherApps{
	margin-left: 23px;
}


.content-title__description {
    color: #747474;
    line-height: 1.6;
	margin-top: 24px;
	margin-bottom: 24px;
	font-size: 21px;
	font-weight: 400;
	font-family: 'Raleway', sans-serif;
}
@media only screen and (min-width: 1024px){
.content-row--header {
    margin-bottom: 60px;
    margin-top: 50px;
}}
.content-subtitle {
    color: #414141;
    font-size: 22px;
    font-weight: 300;
    line-height: 1.4;
    margin-left: 6%;
    margin-right: 6%;
    margin-bottom: 2%;
    padding: 0 24px;
    text-align: left;
}
.project-title{
	padding-bottom: 24px;
	margin-top: 0;
	padding-top: 0;
}





@media only screen and (max-width: 680px){
.page-row--split-blocks {
    padding-bottom: 0;
}
}

.page-row {
    border-top: 0;
    padding-top: 2px;
	text-align: center;
}

@media only screen and (max-width: 680px){
.page-row--split-blocks .content-container {
    max-width: none;
    margin-bottom: 14px;
    padding-left: 0;
    padding-right: 0;
}
}
.content-row--short {
    margin-top: 32px;
}
.content-row {
    margin-bottom: 40px !important;
    margin-top: 40px !important;
}
.content-container {
    box-sizing: content-box;
    margin: 0 auto;
}

.content-container1 {
    box-sizing: content-box;
	padding-left: 4%;
    padding-right: 4%;
    max-width: 1224px;
    margin: 0 auto;
}

@media only screen and (max-width: 1023px) and (min-width: 601px) {
    .content-container1 {
        max-width: 668px;
        padding-left: 6.5%;
        padding-right: 6.5%;
    }
}



@media only screen and (max-width: 680px){
.page-row--split-blocks .caption-panel {
    margin: 0 auto;
    max-width: 480px;
    padding-left: 0;
    padding-right: 0;
}
}

.grid {
    display: flex;
    flex-wrap: wrap;
    margin-left: -24px;
    margin-top: -24px;
}

@media only screen and (max-width: 680px){
.project__item{
	min-height: 330px;
}
}

@media only screen and (max-width: 1023px) and (min-width: 681px){
.project__item{
	min-height: 330px;
}
}

.project__item{
	min-height: 284px;
	width: 25%;
    	
}

.grid__item{
	box-sizing: border-box;
	
}

@media only screen and (max-width: 1023px) and (min-width: 681px){
.grid .grid__item {
    padding-left: 16px;
    padding-top: 16px;
}
}


@media only screen and (min-width: 1023px){
.tablet--one-half{
    width: 25%;
}
}



@media only screen and (min-width: 1023px){
.desk--one--quarter{
    width: 25%;
}
}


@media only screen and (max-width: 681px){
.desk--one--quarter{
	width: 100%;
}
}


@media only screen and (max-width: 681px){
.caption-panel__content{
	padding: 0;
}
}
@media only screen and (max-width: 1023px) and (min-width: 681px){
.desk--one--quarter {
    width: 50%;
}
}


@media only screen and (max-width: 720px){
.desk--one-half{
	width: 100%;
}
}

@media only screen and (max-width: 1023px) and (min-width: 681px){
.grid .grid__item {
    padding-left: 16px;
    padding-top: 16px;
}
}

.caption-panel {
    background-color: #fff;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 1px 3px 1px rgba(0,0,0,0.2);
    font-weight: 400;
    padding-bottom: 1px;
    position: relative;
    width: 100%;
	
	transition-property: all;
	transition-duration: 200ms;
	transition-timing-function: ease-in-out;
	transition-delay: initial;
}

.caption-panel:hover {
	box-shadow: 4px 9px 12px rgba(0,0,0,0.4);
	opacity: 0.95;
}
.caption-panel--home .caption-panel__image {
    border-radius: 2px;
	background-position: center;
    background-size: cover;
    display: block;
    overflow: hidden;
    width: 100%;
	height: 180px;
}

@media only screen and (max-width: 680px){
.caption-panel__image {
	background-position: 50% 30%;
    height: 250px;
}
}

@media only screen and (max-width: 680px){
.caption-panel__image-wrapper {
    height: 250px;
}
}

.caption-panel__image-wrapper {
    background-color: #B0B0B0;
    background-position: center;
    background-size: cover;
    display: block;
    overflow: hidden;
    width: 100%;
	height: 180px;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.12);
}

.caption-panel__content {
    margin-bottom: 24px;
    padding: 16.992px 24px;
    text-decoration: none !important;
    -ms-flex: 0 1 auto;
}

@media only screen and (max-width: 680px){
.caption-panel__content {
    margin-bottom: 31.2px;
    padding: 22.008px 15px;
}
}

@media only screen and (max-width: 680px){
.caption-panel__heading {
	color: #414141;
	font-weight: 100;
    font-size: 22px;
    letter-spacing: .46px;
    line-height: 30px;
}
}
@media only screen and (max-width: 680px){
.caption-panel__heading {
    font-size: 22px;
    letter-spacing: .46px;
    line-height: 30px;
}
}

.caption-panel__heading {
    color: #414141;
	font-size: 22px;
   
    margin-bottom: 8px;
}

@media only screen and (max-width: 680px){
.caption-panel__text {
    margin-top: 8px;
	font-family: Roboto,sans-serif;
	font-weight: 300;
    font-size: 13px;
}
}


.caption-panel__text {
    margin-bottom: 10px;
    color: #747474;
	font-family: Roboto,sans-serif;
	font-weight: 300;
    font-size: 13px;
    text-decoration: none !important;
}

.caption-panel__links {
    bottom: 19.92px;
    position: absolute;
    text-transform: uppercase;
    font-weight: 500;
}

.caption-panel__links a{
	padding-right: 1em;
}

.caption-panel a {
    text-decoration: none !important;
}

.image-aside__link .link-icon {
    margin-bottom: 1px;
}

.link-icon {
    
    fill: #4480FF;
    height: 1.1em;
    margin-left: 5px;
    stroke: #4480FF;
    stroke-width: 0;
    vertical-align: text-bottom;
    width: 1.1em;
}

.link-icon-project-color{
	fill: #4480FF;
    stroke: #4480FF;
	
}

.link-icon-blog-color1{
	fill: #fff;
    stroke: #fff;
}

.link-icon-blog-color{
	fill: #fff;
    stroke: #fff;
}

.page-row-project{
	padding-bottom: 40px;
}
.page-row-blog{
	padding-bottom: 20px;
}




#maia-footer {
    height: 49px;
    background-color: rgb(237, 237, 237);
	margin: 0px;
	margin-top: 50px;
	padding: 0px;
	box-shadow: 0 2px 7px rgba(0,0,0,0.15);
}
#maia-signature {
    margin-top: 0px;
}
.right-text {
    text-align: right;
}
.lockup.va {
    float: left;
}
.va {
    vertical-align: middle;
    line-height: 0;
}
.lockup-logo.lockup-dark {
    opacity: 0.54;
}
.lockup-logo {
    width: 74px;
    height: 24px;
}

.content-controls {
    margin: 0 auto;
    max-width: 1440px;
    padding-left: 32px;
    padding-right: 32px;
}
.footer-social {
    font-size: .82353rem;
    padding: 20px 0;
}
.footer-social--title {
    margin-right: 18px;
}

.story-panel--red{
	background:url(../images/knapsack.png) no-repeat center;
	
}
.story-panel--image{
	background:url(../images/knapsack.png) no-repeat center;
	
}
.story-panel__link{
	color: #fff;
}

.github{
	margin-top: 5px;
}

#maia-footer-global .maia-aux .follow a {
    float: right;
    margin-left: 15px;
}

.footer-links{
	float: right;
}

#maia-footer-global .maia-aux .search a {
    
    margin-right: 6px;
}

.hashcode-footer{
	background-color: rgb(240,240,240);
	position: relative;
    box-shadow: 0 2px 7px rgba(0,0,0,0.15);
    border-top: 1px solid #d8d8d8;
}

.mdl-mini-footer {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    color: rgb(158, 158, 158);
    flex-flow: row wrap;
    padding: 32px 16px;
}

.mdl-mini-footer__left-section{
	 margin: 0px auto;

}

.mdl-mini-footer__left-section {
    display: inline-block;
    -webkit-box-ordinal-group: 1;
    order: 0;
}

.mdl-typography--font-light {
    font-weight: 300;
}

.mdl-mini-footer p {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0px;
    margin-bottom: 16px;
	display: block;
}

.hashcode-footer .mdl-mini-footer__left-section a {
    color: rgb(158, 158, 158);
    text-decoration: none;
	margin-left: 7px;
	margin-right: 7px;
}

.modal>.page-body {
    min-height: 100%;
    overflow: visible;
}

.page-body {
    color: #747474;
    font-family: "Roboto",sans-serif;
    font-size: 1.52353rem;
    line-height: 1.5;
    background-color: #fff;
    margin: 0 auto;
    max-width: 1440px;
    padding: 1px 0;
    position: relative;
}

@media only screen and (max-width: 680px){
.modal__close-btn {
    bottom: 20px;
    margin: 0 0 1.25rem;
    top: auto;
}
}

.modal__close-btn {
    background-color: #FFFFFF;
    border: 0;
    border-radius: 50%;
    box-shadow: 0 1px 1.5px 0 rgba(0,0,0,0.12), 0 1px 1px 0 rgba(0,0,0,0.24);
    color: #fff;
    fill: #fff;
    height: 46px;
	vertical-align: center;
    transition: background-color .2s cubic-bezier(0.4, 0, 0.2, 1),box-shadow .3s cubic-bezier(0.4, 0, 0.2, 1),color .2s cubic-bezier(0.4, 0, 0.2, 1),fill .2s cubic-bezier(0.4, 0, 0.2, 1);
    width: 48px;
    position: fixed;
    right: 20px;
    top: 10px;
    z-index: 102;
}
button,a{
	cursor: pointer;
}

button{
	text-transform: none;
	overflow: visible;
	font: inherit;
	
	
}

.modal__body {
    z-index: 101;
}

.modal__body .page-body {
    padding-bottom: 0;
    padding-top: 0;
}

@media only screen and (max-width: 680px){
.content-header--story {
    height: 240px;
}
}

.content-header--story {
    background-color:rgb(240,240,240);
    background-position: center;
    background-size: cover;
    height: 400px;
    position: relative;
	margin-bottom: 40px;
}

@media only screen and (max-width: 680px){
.story-page--bottom {
    margin-bottom: 45px;
}
}

.story-page--bottom {
    margin-bottom: 100px;
}
.story-page {
    font-weight: 300;
    line-height: 1.8;
}

@media only screen and (max-width: 680px){
.story-page h1.content-title {
    margin: .2em 0 1em;
    padding: 0;
}
}

.story-page h1.content-title {
    color: #414141;
    font-size: 26px;
    font-weight: 300;
    font-family: "Roboto",sans-serif;
    line-height: 1.4;
    margin: 0.1em 0 20px;
}

@media only screen and (min-width: 1024px) {
    .story-page h1.content-title {
        font-size: 30px;
    }

}

@media only screen and (min-width: 1024px){
.push--desk--one-third, .push--desk--two-sixths, .push--desk--four-twelfths {
    left: 33.333%;
}
}

[class*="push--"] {
    position: relative;
}

@media only screen and (min-width: 1024px){
.desk--two-thirds, .desk--four-sixths, .desk--eight-twelfths {
    width: 66.666%;
}
}

.modal-down-divider{
	width: 48px;
    height: 48px;
    border-radius: 25px;
    text-align: center;
    margin: 0 auto;
    position: relative;
    transition: .2s;
	background: url(../images/GitHub-Mark-32px.png) no-repeat center;
	transition-property: all;
	transition-duration: 150ms;
	transition-timing-function: ease-out;
	transition-delay: initial;
	box-shadow: 4px 4px 30px rgba(0,0,0,0.4);
}



.modal-title{
	margin-top: 10px;
}

.blog-subtitles{
	color:#4480FF;
}

.paragraphFontStyle{
    font-family: Roboto,sans-serif;
	font-size: 1.22rem;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 2.5rem;
    margin-top: 2rem;
    color:#747474;
     /* #868e96!important; */
    /* #747474 */
}

.listItemFonts{
	position: relative;
	left: 10%;
}

.blogPageLeftSide{
	width: 35%; 
	
	height: 400px; 
	float: left;
	box-shadow: 3px 3px 3px rgba(0,0,0,0.17);
}

#knapsackLeftSide{
	background-color: #004D40;
	
}
#rxjavaLeftSide{
	background-color: #1A237E;
	
}

#alertappLeftSide{
	background-color: #4E342E;
}
#lakeshoreMarketLeftSide{
    background-color: #263238;
}

#hashtagLifecycleLeftSide{
    background-color: #673ab7;
}

#reccomendationLeftSide{
    background-color: #424242;
}

.modal_buttons{
    background-color: #007bff !important;
}

.wpb_wrapper > div:last-child, .row .wpb_wrapper > img:last-child, .row .wpb_wrapper > .img-with-aniamtion-wrap:last-child img {
    margin-bottom: 0px;
}
.wpb_wrapper > div {
    margin-bottom: 24px;
}
.wpb_row, .wpb_content_element, ul.wpb_thumbnails-fluid > li, .last_toggle_el_margin, .wpb_button {
    margin-bottom: 0;
}
.wpb_row {
    position: relative;
}

@media only screen and (max-width: 1000px) and (min-width: 1px) {
    .wpb_row .row-bg, .full-width-section .row-bg {
        margin-top: 0 !important;
        height: 100% !important;
        transform: none !important;
        -webkit-transform: none !important;
        background-attachment: scroll !important;
        background-position: 50% !important;
    }
}
.wpb_row .row-bg, .full-width-section .row-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
}
.col:last-child {
    margin-right: 0;
}
.wpb_row > .span_12 {
    z-index: 10;
    margin-bottom: 0px!Important;
}
.col.center {
    text-align: center;
}
@media only screen and (max-width: 690px) {
    .col {
        margin-bottom: 25px;
    }
}
.col {
    position: relative;
    z-index: 10;
    display: block;
    float: left;
    width: 100%;
}
.full-width-section > .span_12 > div:last-child, .full-width-section > .span_12 .col > div:not(.boxed):last-child {
    padding-bottom: 0px;
}
.vc_row-fluid [class*="vc_col-"]:first-child:not([class*="offset"]) {
    margin-left: 0;
}
@media only screen and (max-width: 690px) {
    body .vc_row-fluid .wpb_column {
        width: 100%;
        margin-right: 0px !important;
        margin-left: 0px;
        margin-bottom: 25px;
    }
}
.wpb_column {
    background-position: center;
}
.full-width-section > .span_12 > div:last-child, .full-width-section > .span_12 .col > div:not(.boxed):last-child {
    padding-bottom: 0px;
}
.col.dark .nectar-button.see-through, .col.dark .nectar-button.see-through-2 {
    border: 2px solid #4480FF;
    color: #444444;
}

.nectar-button.large.see-through, .nectar-button.large.see-through-2, .nectar-button.large.see-through-3 {
    border-width: 2px!important;
    padding-top: 13px;
    padding-bottom: 13px;
}
@media only screen and (max-width: 1000px) and (min-width: 1px) {
    body .nectar-button.see-through-2, body .nectar-button.see-through-3 {
        transition: none !important;
        -webkit-transition: none !important;
    }
}
.nectar-button.see-through-2, .nectar-button.see-through-3 {
    background-color: transparent;
    box-shadow: none!important;
    -webkit-box-shadow: none!important;
    -moz-box-shadow: none!important;
    -o-box-shadow: none!important;
    opacity: 1;
    transition: all .6s cubic-bezier(0.25, 1, 0.33, 1)!important;
    -moz-transition: all .6s cubic-bezier(0.25, 1, 0.33, 1)!important;
    -webkit-transition: all .6s cubic-bezier(0.25, 1, 0.33, 1)!important;
    -o-transition: all .6s cubic-bezier(0.25, 1, 0.33, 1)!important;
    border-radius: 2px!important;
    -webkit-border-radius: 2px!important;
    -o-border-radius: 2px!important;
    border: 2px solid rgba(255,255,255,0.75);
}
.nectar-button.large {
    font-size: 14px;
    padding: 15px 22px;
    box-shadow: 0 -3px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 -3px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow: 0 -3px rgba(0, 0, 0, 0.1) inset;
    -o-box-shadow: 0 -3px rgba(0, 0, 0, 0.1) inset;
}
a:visited {
    color: #42a6fc;
    text-decoration: none;
}
a:link {
    color: #42a6fc;
    text-decoration: none;
}
.nectar-button {
    border-radius: 10px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -o-border-radius: 5px 5px 5px 5px;
    box-shadow: 0 -3px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 -3px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow: 0 -3px rgba(0, 0, 0, 0.1) inset;
    -o-box-shadow: 0 -3px rgba(0, 0, 0, 0.1) inset;
    transition: opacity .25s ease-in-out;
    /* opacity .6s cubic-bezier(0.25, 1, 0.33, 1); */
    -moz-transition: opacity .6s cubic-bezier(0.25, 1, 0.33, 1);
    -webkit-transition: opacity .6s cubic-bezier(0.25, 1, 0.33, 1);
    -o-transition: opacity .6s cubic-bezier(0.25, 1, 0.33, 1);
    color: #FFFFFF;
    font-weight: 400;
    font-size: 12px;
    font-family: Roboto,sans-serif;
    letter-spacing: 2px;
    padding: 13px 18px;
    position: relative;
    text-transform: uppercase;
    top: -3px;
    margin-bottom: 10px;
    opacity: 1;
    line-height: 20px;
    background-color: #27CFC3;
    display: inline-block;
}

.nectar-button:hover{
    background-color: #4480FF !important;
    opacity: 1;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    color: #FFFFFF !important;
    border-color: rgb(20,20,20) !important;

}
.nectar-button span {
    left: 0px;
    display: inline-block;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    transition: opacity .45s cubic-bezier(0.25, 1, 0.33, 1), transform .45s cubic-bezier(0.25, 1, 0.33, 1);
    -webkit-transition: opacity .45s cubic-bezier(0.25, 1, 0.33, 1), -webkit-transform .45s cubic-bezier(0.25, 1, 0.33, 1);
    position: relative;
}

.tab{ text-align: center; }
.tab .nav-tabs{
    display: inline-block;
    border-bottom: none;
    position: relative;
}
.tab .nav-tabs li{
    margin-bottom: 0;
}
.tab .nav-tabs li a{
    font-family: "Google Sans",Roboto,Arial,Helvetica,sans-serif;
    display: block;
    padding: 20px;
    border-radius: 0;
    /* font-size: 17px; */
    font-weight: 400;
    color: #444;
    margin-right: 0;
    text-align: center;
    z-index: 1;
    transition: all 0.3s ease 0s;
}
.tab .nav-tabs li a i{
    display: block;
    font-size: 40px;
    /* color: rgba(10,10,10,0.85); */
    color: #444;
    margin-bottom: 10px;
}

/*.tab .nav-tabs li a:hover{*/
    /*border-bottom: 4px solid rgba(20,20,20,0.9);*/

/*}*/
#allAppsLink{
    border-bottom: 2.5px solid #2e3134;
}
.tab .nav-tabs li a:before,
.tab .nav-tabs li a:after{
    content: "";
    width: 0;
    position: absolute;
    bottom: -1px;
    left: 0;
    transition: all 0.3s ease 0s;
}
.tab .nav-tabs li a:after{
    left: auto;
    right: 0;
}
.tab .nav-tabs li.active a:before,
.tab .nav-tabs li a:hover:before,
.tab .nav-tabs li.active a:after,
.tab .nav-tabs li a:hover:after{
    width: 50%;
}
.tab .tab-content{
    padding: 20px;
    margin-top: -5px;
    border-radius: 0 0 5px 5px;
    border-top: 1px solid #d7d6d6;
    font-size: 15px;
    color: #757575;
    line-height: 30px;
}
.tab .tab-content h3{
    font-size: 24px;
    margin-top: 0;
}
@media only screen and (min-width: 479px){
    .tab .nav-tabs li{
        text-align: center;
        width: 33.3%;
        margin: 0;
        float:left !important;

    }

}
.page-header{
    background-color: #fff;
    position: relative;
    width: 100% !important;
    z-index: 1;
    
}

.sticky-header--transition {
    transition: top 300ms ease 0s;
}
.sticky-header {
    background-color: #fff;
    border-bottom: 1px solid #d8d8d8;
    width: 100%;
}

@media only screen and (max-width: 1000px){
    .page-header__drawer {
        height: auto;
    }
}
.page-header__drawer {
    position: relative;
}

.content-controls--flex.page-header__content {
    align-items: center
}

@media only screen and (max-width: 1000px) {
    .has-submenu .page-header__content {
        padding-bottom: 0;
    }
}

@media only screen and (max-width: 1000px){
    .page-header__content.content-controls {
        padding-left: 15px !important;
        padding-right: 15px !important;

    }
}

@media only screen and (max-width: 600px) {
    .content-controls--flex {
        overflow-y: auto;
    }
}
.content-controls--flex {
    align-items: baseline;
    display: -ms-flexbox;
    display: flex;
    flex-flow: row wrap;
}

@media only screen and (max-width: 600px) {
    .content-controls {
        display: block;
    }
}
.content-controls {
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
}
@media only screen and (max-width: 1000px) {
    .page-header__content {
        height: 55px;
    }
}
.page-header__content {
    background: #fff;
    flex-wrap: nowrap;
    height: 64px;
    max-height: 100%;
    overflow: visible !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
}
@media only screen and (max-width: 1000px) {
    .page-nav__header {
        height: 100%;
    }
}

@media only screen and (max-width: 400px) {
    .gc-header-dt__lockup {
        margin-left: 0;
    }

}

@media only screen and (max-width: 1000px) {
    .gc-header-dt__lockup {
        display: flex;
        margin-left: 14px;
    }
}
.gc-header-dt__lockup {
    height: 100%;
    position: relative;
}

@media only screen and (max-width: 400px) {
    .gc-header-dt__logo {
        margin-left: 0;
    }
}
@media only screen and (max-width: 1000px) {
    .gc-header-dt__logo {
        display: flex;
        margin-left: 14px;
        padding-top: 7px;
    }
}
.gc-header-dt__logo {
    align-items: center;
    display: flex;
    height: 100%;
    padding: 4px 0;
    vertical-align: middle;
}

.gc-header-dt__product-logo {
    margin-left: 6px;
}

@media only screen and (max-width: 400px) {
    .gc-header-dt__product-logo-text {
        font-size: 15px;
        line-height: 18px;
    }
}

@media only screen and (max-width: 1000px) {
    .gc-header-dt__product-logo-text {
        font-size: 22px;
    }
}

.gc-header-dt__product-logo-text {
    color: #868e96!important;
    font-family: "Roboto",sans-serif;
    font-size: 19px;
    font-weight: 300;
    letter-spacing: .2px;
    white-space: nowrap;

}

@media only screen and (max-width: 605px) {
    .gc-header-dt__nav {
        display: none;
    }
}
.gc-header-dt__nav {
    clear: none;
    float: left;
    height: 100%;
    margin-left: 48px;
}

.gc-header-dt__nav-list {
    display: flex;
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.gc-header-dt__nav-list-item:first-child {
    margin-left: 0;
}

.gc-header-dt__nav-list-item {
    display: table;
    float: left;
    height: 100%;
    position: relative;
    margin-left: 36px;
}

.gc-header-dt__nav-list-item>a:hover, .gc-header-dt__nav-list-item>a:active, .gc-header-dt__nav-list-item>a:focus, .gc-header-dt__nav-list-item>a.active {
    color: #000;

}
@media only screen and (max-width: 1000px) {
    .gc-header-dt__nav-list-item>a {
        line-height: 2;
    }
}
.gc-header-dt__nav-list-item>a {
    color: #5f6368;
    display: table-cell;
    font-family: "Google Sans",Roboto,Arial,Helvetica,sans-serif;
    font-weight: 14px;
    font-weight: 400;
    letter-spacing: .25px;
    line-height: 1.28571;
    padding: 10px 0 9px;
    position: relative;
    text-decoration: none;
    vertical-align: middle;
}
.gc-header-dt__nav-list-item>a.active::after {
    background-color: #2e3134;
    bottom: -1px;
    content: '';
    height: 2px;
    left: -5px;
    position: absolute;
    right: -5px;
}

.gc-header-dt__nav-list li a {
    cursor: pointer;
    text-decoration: none;
    transition: border-bottom 0.2s;
    transition-timing-function: ease-in-out;

}

@media only screen and (max-width: 1023px) and (min-width: 601px) {
    .content-title__description {
        margin: 0 auto;
    }
}
@media only screen and (max-width: 1023px) and (min-width: 601px) {
    .content-title__description {
        font-size: 0.941rem;
    }
}
.content-title__description {
    color: #747474;
    font-weight: 300;
    line-height: 1.6;
}

@media only screen and (max-width: 1023px) and (min-width: 601px) {
    .content-header p {
        margin: 9px 0;
    }
}
.content-header p {
    margin: 15px 0;
}

@media only screen and (max-width: 1023px) and (min-width: 601px) {
    .content-header {
        max-width: 520px;
    
    }
}
.content-header {
    color: #202124;
    position: relative;
    text-align: center;
    max-width: 880px;

}

.nav-tabs a {
    cursor: pointer;
    text-decoration: none;
    transition: border-bottom 0.2s;
    transition-timing-function: ease-in-out;


}
@media (max-width: 539px) {
    .landing-page-section.hero--kickstart {
        background-position: left bottom;
        background-size: contain;

    }
}

.bg.bg--white {
    background-color: #fff;
}

.section {
    padding: 2rem 3rem;
    position: relative;

}
.section__inner.grid1 {
    padding-bottom: 24px;

}
.section__inner {
    max-width: 1440px;
    padding-top: 0;
    padding-bottom: 0;
}

@media only screen and (max-width: 680px) {
    .grid1 {
        margin-left: -12px;
        margin-top: -12px;
    }
}
.grid1 {
    display: flex;
    flex-wrap: wrap;
    margin-left: -24px;
    margin-top: -24px;
}

@media only screen and (max-width: 1023px) and (min-width: 681px) {
  .section--static {
      padding: 4rem 2rem;
  }
}

@media  (min-width: 681px) {
    .section {
        padding: 2rem 3rem;
    }
}
@media only screen and (max-width: 1023px) and (min-width: 681px) {
    .section__inner.grid1 {
        padding-bottom: 18px;
    }
}
@media only screen and (max-width: 1023px) and (min-width: 681px) {
    .grid1 {
        margin-left: -16px;
        margin-top: -16px;
    }
}

@media only screen and (max-width: 680px) {
    .section--static .section__image {
        margin-bottom: 1rem;
        margin-top: 2rem;
    }
}
.section--static .section__image {
    align-items: flex-start;
    display: flex;
    justify-content: center;
    padding: 0 1rem 1rem;
}
@media only screen and (max-width: 680px) {
    .grid1.grid__item1 {
        padding-left: 12px;
        padding-top: 12px;
    }
}
.grid1 .grid__item1 {
    padding-left: 24px;
    padding-top: 24px;
}
.grid__item1 {
    box-sizing: border-box;
    width: 100%;
}
@media (min-width: 681px) {
    .grid1 .grid__item1 {
        padding-left: 16px;
        padding-top: 16px;
    }
}
@media  (min-width: 681px) {
    .tablet--four-tenths, .tablet--two-fifths {
        width: 40%;
    }
}

.section--static .section__content {
    align-items: center;
    display: flex;
}
@media  (min-width: 681px) {
    .tablet--six-tenths, .tablet--three-fifths {
        width: 60%;
    }
}

@media  (min-width: 681px) {
    .section--static .section__content h1 {
        font-size: 57px;
        line-height: 62px;
    }
}
.section--static .section__content h1 {
    font-size: 26px;
    font-weight: 600;
    line-height: 1.4;
    max-width: 823px;
    font-family: "Roboto",sans-serif;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    color: #414141;
}
@media only screen and (max-width: 1023px) and (min-width: 681px) {
    .section--static .section__content p {
        font-size: 20px;
        line-height: 29px;
    }
}
.section--static .section__content p {
    font-family: Roboto,sans-serif;
    font-size: 1.22rem;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 2.5rem;
    margin-top: 2rem;
    max-width: 668px;
    color: #747474;
}
.section--static .section__content p+p {
    margin-top: -1rem;
}

#suggestApproach {
    background-color: rgb(240,240,240);
}

@media (max-width: 539px) {
    .landing-page-section.rules {
        padding-bottom: 2.75rem;
    }

}
.landing-page-section.rules {
    height: auto;
    background-color: #fff;
}

.landing-page-section {
    background-color: #fff;
    height: 688px;
}

@media (min-width: 800px) {
    .landing-page-section.rules {
        padding: 1rem 0 3rem 0;
    }
}

.landing-page-section .mdc-layout-grid {
    height: 100%;
}
@media (max-width: 539px) {
    .mdc-layout-grid {
        box-sizing: border-box;
        margin: 0 auto;
        padding: 16px;
    }
}
@media (max-width: 799px) and (min-width: 540px) {
    .mdc-layout-grid {
        box-sizing: border-box;
        margin: 0 auto;
        padding: 32px;
    }
}
@media (max-width: 1175px) and (min-width: 800px) {
    .mdc-layout-grid {
        box-sizing: border-box;
        margin: 0 auto;
        padding: 32px;
    }
}
.landing-page-section .mdc-layout-grid__inner {
    height: 100%;
}
/* @media (max-width: 587px) and (min-width: 623px) {
    .landing-page-section .mdc-layout-grid__inner {
        grid-gap: 16px;
    }
} */
@media (max-width: 623px) {
    .mdc-layout-grid__inner {
        display: grid;
        margin: 0;
        grid-gap: 16px;
        grid-template-columns: repeat(4, minmax(0,1fr));
    }
}
@media (min-width: 800px) {
    .mdc-layout-grid__inner {
        display: grid;
        margin: 0;
        grid-gap: 32px;
        grid-template-columns: repeat(12, minmax(0,1fr));
    }
}
@media (max-width: 799px) and (min-width: 623px) {
    .mdc-layout-grid__inner {
        display: grid;
        margin: 0;
        grid-gap: 32px;
        grid-template-columns: repeat(8, minmax(0,1fr));
    }
}
.mdc-layout-grid__cell--align-middle {
    align-self: center;
}
@media (max-width: 623px) {
    .mdc-layout-grid__cell--span-4-phone {
        width: auto;
        grid-column-end: span 4;
    }
}
@media (max-width: 623px) {
    .mdc-layout-grid__cell {
        margin: 0;
        width: auto;
        grid-column-end: span 4;
        box-sizing: border-box;
    }
}
@media (max-width: 799px) and (min-width: 623px) {
    .mdc-layout-grid__cell--span-7-tablet {
        width: auto;
        grid-column-end: span 7;
    }
} 
@media (max-width: 799px) and (min-width: 623px) {
    .mdc-layout-grid__cell {
        margin: 0;
        width: auto;
        grid-column-end: span 4;
    }
} 
.landing-page-section .headline-2 {
    margin-bottom: 2rem;

}

@media (max-width: 539px) {
    .headline-2 {
        font-size: 1.75rem;
        line-height: 2.25rem;
    
    }
}
.headline-2 {
    font-family: "Roboto",Arial,Helvetica,sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.36;
    color: #3E2723;
} 
@media (max-width: 539px) {
    .body-1 {
        font-size: .875em;
        line-height: 1.25rem;
    }
}
.body-1 {
    font-family: Roboto, sans-serif;
    font-size: 13px;
    line-height: 1.5rem;
    color:#868e96!important;
}
@media (max-width: 539px) {
    .landing-page-section.rules .content-box.previous-box {
        width: auto;
    }
}
.landing-page-section.rules .content-box.previous-box {
    height: 176px;
    width: 246px;
    justify-content: center;
}
@media (max-width: 539px) {
    .landing-page-section.rules .content-box {
        width: auto;
    }
}
 .content-box {
    max-height: 200px;
    box-shadow: 0 0 4px 0 rgba(0,0,0,.2);
    border-radius: 10px;
    height: 240px;
    padding: 1rem;
    transition: box-shadow .25s ease-in-out;
    color:  #202124;
    background-color: #fff;
    display: flex;
    align-items: center;
}
.content-box:hover {
	box-shadow: 0 0 8px 0 rgba(0,0,0,.6);
}
@media (max-width: 1175px) and (min-width: 800px) {
    .landing-page-section.rules .content-box.previous-box {
        width: auto;
    }
}

@media (max-width: 1175px) and (min-width: 800px) {
    .landing-page-section.rules .content-box {
        width: auto;
    }
}

.landing-page-section.rules .content-box.previous-box .content-box-inner {
    height: 100%;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    justify-content: center;
    padding: 10px;

}

.landing-page-section.rules .content-box .content-box-inner {
    text-align: center;
}
@media (max-width: 1175px) and (min-width: 800px) {
    .mdc-layout-grid__cell--span-7-desktop {
        width: auto;
        grid-column-end: span 7;
    }
}
@media (max-width: 1175px) and (min-width: 800px) {
    .mdc-layout-grid__cell {
        margin: 0;
        width: auto;
        grid-column-end: span 4;
        box-sizing: border-box;
    }
}

@media (max-width: 1175px) and (min-width: 800px) {
    .grid-start-6 {
        grid-column-start: 1;
        grid-column-end: span 12;
    }
}

@media (max-width: 1175px) and (min-width: 800px) {
    .mdc-layout-grid__cell--span-3, .mdc-layout-grid__cell--span-3-desktop {
        grid-column-end: span 4;
        width: auto;
    }
}

@media (min-width: 1176px) {
    .mdc-layout-grid__cell--span-3, .mdc-layout-grid__cell--span-3-desktop {
        grid-column-end: span 4;
        width: auto;
    }
}
@media (min-width: 1176px) {
    .landing-page-section.rules .content-box.previous-box {
        height: 250px;
        width: 350px;
    }
}

@media (min-width: 1176px) {
    .mdc-layout-grid__cell {
        grid-column-end: span 4;
        box-sizing: border-box;
    }
}
#resourceCards {
    margin-top: 0;
    padding: 3rem 3rem;
}

@media only screen and (max-width: 1023px) and (min-width: 601px) {
    .content-container {
        max-width: 668px;
        padding-left: 6.5%;
        padding-right: 6.5%;
    }
}

@media only screen and (max-width: 1023px) and (min-width: 601px) {
    .application-step__background.content-row {
        margin: 20px 0;
    }
}

@media only screen and (max-width: 1023px) and (min-width: 601px) {
    .application-step__background {
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media only screen and (min-width: 1024px) {
    .application-step__background {
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media only screen and (max-width: 1023px) and (min-width: 601px) {
    .grid {
        margin-left: -16px;
        margin-top: -16px;
    }
}

.grid__equal {
    display: flex;
}

@media only screen and (max-width: 600px) {
    .application-step__background>.grid__item_resource {
        margin-bottom: 30px;
    }
}
@media only screen and (max-width: 1023px) and (min-width: 601px) {
    .application-step__background>.grid__item_resource {
        position: relative;
    }
}
@media only screen and (max-width: 600px) {
    .grid .grid__item_resource {
        padding-left: 12px;
        padding-top: 12px;
    }
}

@media only screen and (max-width: 1023px) and (min-width: 601px) {
    .grid .grid__item_resource {
        padding-top: 16px;
    }
}

@media only screen and (max-width: 1023px) and (min-width: 601px) {
    .grid .grid__item--application-step-item {
        padding-left: 0;
    }
}

@media only screen and (min-width: 1024px) {
    .application-step__background>.grid__item_resource {
        position: relative;
    }
}

@media only screen and (min-width: 1024px) {
    .grid .grid__item--application-step-item {
        padding-left: 0;
    }
}

@media only screen and (min-width: 1024px) {
    .desk--one-third, .desk--two-sixths, .desk--four-twelfths {
        width: 33.33% !important;
    }
}

@media only screen and (min-width: 1024px) {
    .application-step__dots {
        content: '';
        height: 7px;
        left: 69.5%;
        line-height: 5px;
        margin: 0;
        overflow: hidden;
        position: absolute;
        right: -35%;
        top:40.5px;
    }
}

@media only screen and (min-width: 1024px) {
    .application-step__dots span {
        background: #E8E8E8;
        border-radius: 50%;
        display: inline-block;
        height: 5px;
        margin: 1px 9px 4px 3.5px;
        vertical-align: bottom;
        width: 5px;
    }
}

.grid__item_resource {
    box-sizing: border-box;
    width: 100%;
}

.application-step {
    box-sizing: border-box;
    padding-bottom: 1.5em;
    position: position;
    text-align: center;
    width: 100%;

}

@media only screen and (max-width: 600px) {
    .application-step {
        padding-bottom: 1em;
    }
}

@media only screen and (max-width: 600px) {
    .application-step__number {
        font-size: 35px;
        height: 70px;
        line-height: 50px;
        padding: 9px;
        width: 70px;
    }
}

@media only screen and (max-width: 1023px) and (min-width: 601px) {
    .application-step__number {
        font-size: 29px !important;
        height: 58px !important;
        line-height: 38px !important;
        padding: 10px !important;
        width: 58px !important;
    }
}

.application-step__number {
    background-color: #000;
    border-radius: 50%;
    box-sizing: border-box;
    color: #fff;
    display: inline-block;
    font-size: 38px;
    line-height: 40px;
    margin-bottom: 16.8px;
    padding: 19px;
    width: 80px;
}

.application-step__title {
    color: #202124;
    font-family: "Roboto",Arial,Helvetica,sans-serif;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: .23px;
    margin-bottom: 14px;

}
.application-step__description {
    margin: 0 auto 28px;
    max-width: 260px;
    font-size: 13px;
    color: #868e96!important;
}

@media only screen and (max-width: 1023px) and (min-width: 601px) {
    .application-step__dots {
        margin-left: 18px;
        top: 41px;
    }
}

@media only screen and (max-width: 1023px) and (min-width: 601px) {
    .application-step__dots {
        left: 60%;
    }
}

@media only screen and (max-width: 1023px) and (min-width: 601px) {
    .application-step__dots {
        content: '';
        height: 7px;
        left: 69.5%;
        line-height: 5px;
        margin: 0;
        overflow: hidden;
        position: absolute;
        right: -35%;
        top: 45.5px;
    }
}
@media only screen and (max-width: 1023px) and (min-width: 601px) {
    .tablet--one-third {
        width: 33.333%;
    }
}

@media only screen and (max-width: 1023px) and (min-width: 601px) {
    .application-step__dots span {
        height: 4px;
        margin-left: 3px;
        margin-right: 3px;
        width: 4px;
    }
}

@media only screen and (max-width: 1023px) and (min-width: 601px) {
    .application-step__dots span {
        background: #E8E8E8;
        border-radius: 50%;
        display: inline-block;
        height: 5px;
        margin: 1px 9px 4px 3.5px;
        vertical-align: bottom;
        margin-right: 3px;
        width: 5px;
    }
}
.page-row--faq {
    border-top: 1px solid #E8E8E8;
    padding-bottom: 1px;
    padding-top: 20px;
}
@media only screen and (max-width: 1023px) and (min-width: 601px) {
    .page-row--faq {
        padding-top: 20px;
    }
}
@media only screen and (max-width: 600px) {
    .content-container--no-mobile {
        max-width: none;
        padding-left: 0;
        padding-right: 0;
    }
}

.intro-resources {
    padding-top: 30px;
}

@media only screen and (max-width: 1023px) and (min-width: 601px) {

    .tablet--two-thirds, .tablet--four-sixths, .tablet--eight-twelfths {
        width: 66.6%;
    }

}
@media only screen and (max-width: 1023px) and (min-width: 601px) {

    .tablet--one-third, .tablet--two-sixths, .tablet--four-twelfths {
        width: 33.3%;
    }

}
@media only screen and (min-width: 1024px) {
    .push--desk--one-twelfth {
        left: 8.33%;
    }
}

@media only screen and (min-width: 1024px) {
    .desk--one-quarter, .desk--two-eighths, .desk--three-twelfths {
        width: 25%;
    }
}

.story-page .story-page__head-shot-name {
    color: #202124;
    letter-spacing: normal;
    font-family: "Roboto", sans-serif;
    line-height: 1.4;
}
.story-page .story-page__head-shot-caption--text {
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 4px;
}

.head-shot-short-desc {
    font-family: Roboto,sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.4;
    color: #868e96!important;

}
.story-page .story-page__head-shot-image {
    height: 75px;
    margin: 10px 0 20px 0;
    width: 75px;
}
.related-content__header {
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 28px;
    color: #202124;
    font-size: 0.8em;
    font-family: "Roboto", sans-serif;
}
.related-content__item--compact {
    max-width: 500px;

}
.related-content__item {
    margin-bottom: 40px;
    padding-right: 20px;
}

@media only screen and (max-width: 600px) {
    .related-content__item {
        margin: 0;
        padding: 38px 0 28px;
    }
}
.related-content__title {
    font-size: 26px;
    color: #414141;
    font-weight: 300;
    line-height: 1.3;
    margin-bottom: 10px;
    position: relative;
    font-family: "Roboto", sans-serif;
}
.page-row-2 {
    border-top: 1px solid #E8E8E8;
    padding-bottom: 40px;
    padding-top: 40px;
}
.related-content__content {
    font-family: "Roboto",Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 2.5rem;
    margin-top: 2rem;
    color: #747474;

}

@media only screen and (max-width: 1023px) and (min-width: 601px) {
    .push--tablet--one-third, .push--tablet--two-sixths, .push--tablet--four-twelfths {
        left: 33.3%;
    }
}

.notecards {
    margin-top: 0;
    padding: 3rem 3rem 3rem 0 !important;
}

.story-page blockquote {
    border: 1px solid #CFD8DC;
    border-left: 0;
    border-right: 0;
    line-height: 1.5;
    position: relative;
    margin: 30px 0;
    padding: 33.6px 28px 33.6px 28px;
}
@media only screen and (max-width: 1023px) and (min-width: 601px) {
    .story-page blockquote {
        padding: 33.6px 28px 33.6px 8px;
        magin: 15px 0;
    }

}

#algorithmsLink {
    border-bottom: 2.5px solid #2e3134;
}


.code_snippet {
    border: 1px solid #ccc;
}

.code_snippet img {
    width: 100%;
}

.landing-view-container .landing-tabs-container {
    margin-bottom: 2rem;
}
.mdc-layout-grid__cell--align-top {
    align-self: start;
}

@media (max-width: 799px) and (min-width: 540px) {
    .mdc-layout-grid__cell--span-8, .mdc-layout-grid__cell--span-8-tablet {
        width: auto;
        grid-column-end: span 8;
    }
}
@media (max-width: 799px) and (min-width: 540px) {
    .landing-view-container {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

.landing-view-container {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.mdc-tab-bar {
    width: 100%;
}
.mdc-tab-scroller {
    overflow-y: hidden;
}
.mdc-tab-scroller__scroll-area {
    display: flex;
    overflow-x: hidden;
}
.mdc-tab-scroller__scroll-content {
    position: relative;
    display: flex;
    flex: 1 0 auto;
    transform: none;
    will-change: transform;
}
.landing-view-container .landing-tabs-container .mdc-tab {
    text-transform: initial;
    padding: 0 .5rem;

}
.mdc-tab {
    position: relative;
    font-family: "Google Sans",Roboto,Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #000;
    letter-spacing: 0.25px;
    text-decoration: none;
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
    box-sizing: border-box;
    height: 48px;
    text-align: center;
}
.mdc-tab__content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
    pointer-events: none;
}
.mdc-tab-indicator {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
}
.mdc-tab__ripple {
    will-change: transform,opacity;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.mdc-tab-indicator>.mdc-tab-indicator__content {
    transition: 250ms transform cubic-bezier(.4,0,.2,1);
}
.mdc-tab-indicator--active>.mdc-tab-indicator__content {
    opacity: 1;
}
.mdc-tab-indicator>.mdc-tab-indicator__content--underline {
    height: 2px;
}
.mdc-tab-indicator>.mdc-tab-indicator__content--underline {
    background-color: #000;
}
.mdc-tab-indicator__content--underline {
    transform-origin: left;
}

.relatedContentLink {
    color: #424242 !important;
    font-size: 17px;
    font-weight: 400;
    text-decoration: none !important;
    transition: color 0.6s !important;
    transition-timing-function: ease-in-out !important;
}
.relatedContentLink:hover {
    color: #000 !important;
    font-weight: 500 !important;
}
*, *:before, *:after {
    box-sizing: border-box;
}
/*.tab .nav-tabs li a,*/
/*.tab .nav-tabs li a:hover{ border-bottom: 1px solid #dfdfdf; display: inline; }*/
/*.tab .tab-content{ border-top: none; }*/